body {
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}